html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;   
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/catalina.png) 50% 50% no-repeat;
    background-size: cover;
    display: table;
}

.container {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: Source Sans Pro;
    font-weight: lighter;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

button {
    width: 332px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}