html {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url(../img/catalina.png) 50% 50% no-repeat;
    background-size: cover;
    display: table;
    
}


.container {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-top: 0;
    font-family: Source Sans Pro;
    font-weight: lighter;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

input {
    outline: none;
}

/* clear buttonをiphone safariでも表示する方法 */
input[type="search"]::-webkit-search-cancel-button {

        /* Remove default */
        -webkit-appearance: none;

        /* Now your own custom styles */
        height: 14px;
        width: 14px;
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
        /* setup all the background tweaks for our custom icon */
        background-repeat: no-repeat;

        /* icon size */
        background-size: 14px;

    }

input[type="text"], input[type="search"]{

    /* apple safari 対策 */    
    -webkit-appearance: textfield;

    display: block;
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: Source Sans Pro;
    font-weight: lighter;
    margin-bottom: 10px; 
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.3);
}



input[type="text"]::placeholder, input[type="search"]::placeholder {
    text-align: center;
}

input[type="search"]::-webkit-search-cancel-button {
    margin-right: 10px;   
}

input[type="submit"] {
    -webkit-appearance: none;
    width:100%;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    
}

.radio-container {
    display: flex;
}

input[type="radio"]{
    appearance: none;
    display: none;
}

label {
    
    height: 80px;
    width: 120px;
    border: 6px solid #42b983;
    position: relative;
    margin: auto; 
    border-radius: 10px;
    color: #42b983;
    transition: .5s;
    margin-top: 20px;
}

.fas {
    font-size: 80px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

label>span {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

input[type="radio"]:checked + label {
    background-color: #42b983;
    color: #2c3e50;
    box-shadow: 0 15px 45px rgba(24, 249, 141, 0.2);
}


/* iphone */
@media screen and (max-width: 480px) { 
    .container {
        border: none;
        padding: 0em;
    }
}