

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;   
    background: url(../img/catalina.png) 50% 50% no-repeat;
    background-size: cover;
    /* display: table; */
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.login-box h1 {
    /* float: left; */
    font-size: 40px;
    border-bottom: 6px solid #42b983;
    margin-bottom: 50px;
    padding: 13px 0;
    text-align: center;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #42b983;
}

.textbox i {
    width: 26px;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
    width: 70%;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #42b983;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}